<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    {% block meta_icon %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'common/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block custome_css %}
    {% endblock %}
  </head>
<!-- NAVBAR
================================================== -->
  <body>

    {% block content %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'common/js/bootstrap.min.js' %}"></script>
    {% block custome_js %}
    {% endblock %}
  </body>
</html>

