Django==1.8.5
django-crispy-forms==1.5.2
django-grappelli==2.7.1
django-markdown==0.8.4
django-markdown-deux==1.0.5
Markdown==2.6.3
markdown2==2.3.0
python-slugify==1.1.4
Unidecode==0.4.18
uWSGI==2.0.11.2
wheel==0.26.0
