  <!--// Recent Comments //-->
  <div class="sp-widget sp-comments-widget">
    <h4 class="sp-widget-title">Recent Comments</h4>

    <ul>
      <li>
        <a href="#">
          <figure class="sp-thumb-container"><img alt="" src="assets/images/avatar1.jpg"></figure>
          <div class="sp-desc">
            <span class="sp-meta"><strong>Ralph Cook</strong> on</span>
            <h4 class="sp-title">Today's Everyday Fashion Panama Hat</h4>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <figure class="sp-thumb-container"><img alt="" src="assets/images/avatar2.jpg"></figure>
          <div class="sp-desc">
            <span class="sp-meta"><strong>Ralph Cook</strong> on</span>
            <h4 class="sp-title">Today's Everyday Fashion Panama Hat</h4>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <figure class="sp-thumb-container"><img alt="" src="assets/images/avatar3.jpg"></figure>
          <div class="sp-desc">
            <span class="sp-meta"><strong>Ralph Cook</strong> on</span>
            <h4 class="sp-title">Today's Everyday Fashion Panama Hat</h4>
          </div>
        </a>
      </li>
    </ul>
  </div> <!-- //End Recent Comment -->

