<!--//Footer//-->
<footer class="sp-footer">
  <div class="sp-widget-area">
    <div class="sp-container sp-clearfix">
      <div class="sp-box">
        <!--//Widget//-->
        <div class="sp-widget sp-about">
          <h3 class="sp-title">关于本站</h3>
          <div class="sp-desc">
              <p>个人博客， 记录生活点滴...</p>
            <a href="about.html">知道更多</a>
          </div>
        </div> <!--//End Widget-->
        <!--//Widget//-->
        <div class="sp-widget sp-subscribe">
            <h3 class="sp-title">订阅</h3>

          <p>This is the Subscribe Box Widget. Lorem ipsum dolor sit amet elit.</p>
          <form class="sp-subscribe-form">
            <input type="email" placeholder="Enter your e-mail">
            <button class="button button-default" type="submit">订阅</button>
          </form>
        </div> <!--//End Widget-->
        <!--//Widget//-->
        <div class="sp-widget sp-social-links">
          <h3 class="sp-title">联系我:</h3>
          <ul class="sp-social-link">
            <li><a class="github" href="https://github.com/Root-shady" data-toggle="tooltip" data-replacement="top" title="Github" ><i class="fa fa-github"></i></a></li>
            <li><a class="stackoverflow" href="http://stackoverflow.com/users/3628275/shady" data-toggle="tooltip" data-replacement="top" title="Stackoverflow"><i class="fa fa-stack-overflow"></i></a></li>
            <li><a class="mail" href="mailto:darkercookies@gmail.com" data-toggle="tooltip" data-replacement="top" title="Gmail"><i class="fa fa-envelope-o"></i></a></li>
            <li><a class="rss" href="#" data-toggle="tooltip" data-replacement="top" title="RSS"><i class="fa fa-rss"></i></a></li>
            <li><a class="facebook" href="" data-toggle="tooltip" data-replacement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a class="weixin" href="#" data-toggle="tooltip" data-replacement="top" title="Weixin"><i class="fa fa-weixin"></i></a></li>
          </ul>
        </div> <!--//End Widget-->
      </div>
    </div>
  </div>

  <div class="sp-footer-bottom sp-clearfix">
    <div class="sp-container">
      <!--//Copyright//-->
      <p class="sp-copyright">Copyright &copy; 2015 &mdash; <a href="index.html">CopyCat</a> Powered By <a href="#">Django</a></p> <!--//End Copyright-->
      <!--//Footer Nav//-->
      <ul class="sp-footer-nav">
          <li><a href="index.html"><i class="fa fa-home fa-2x"></i>主页</a></li>
          <li><a href="about.html"><i class="fa fa-rss fa-2x"></i>博客</a></li>
          <li><a href="contact.html"><i class="fa fa-rocket fa-2x"></i>顶部</a></li>
      </ul> <!--//End Footer Nav-->
    </div>
  </div>
</footer> <!--//End Footer-->
