{% load staticfiles %}
<!--//Content Area//-->
<div class="sp-content-area">

<!--//Post//-->
{% for item in posts %}
<article class="sp-post">
{% if item.post.image_link %}
    <div class="row" >
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <figure class="sp-thumb-container">
                <a href="single.html"><img src="{{ item.post.image_link }}" alt="Cannot load"></a>
            </figure>
        </div>
    </div>
{% endif %}
    <div class="row" >
        <div class="sp-post-content">
            <div class="sp-container">
                <div class="sp-post-desc">
                    <header class="sp-post-header">
                        <div class="sp-meta">
                            <span><a href="{% url 'blog:category' item.category.slug %}">{{ item.category }}</a></span> 
                            <span>{{ item.post.publish_date }}/span>
                        </div>
                        <h2 class="sp-post-title"><a href="{% url 'blog:single_post' item.category item.post.slug %}">{{ item.post.title }}</a></h2>
                            <div class="sp-post-info sp-clearfix">
                                <div class="sp-post-meta">
                                    <img class="sp-avatar" src="http://7xo4sa.com1.z0.glb.clouddn.com/owl.jpg" alt="">
                                        <p class="sp-author-name"><i class="fa fa-pencil"></i> by:<a href="/about.html">{{ item.post.author }}</a></p>
                                    <p class="sp-comment-count"> <i class="fa fa-tripadvisor"></i> views: {{ item.post.views }} </p>
                                    <hr class="sp-separator">
                                </div>
                                <div class="sp-share-this">
                                    <p class="sp-meta-title"> FollowMe:</p>
                                    <p class="sp-share-list">
                                    <a class="facebook" href="#" data-toggle="tooltip" data-replacement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a class="weixin" href="#" data-toggle="tooltip" data-replacement="top" title="Weixin"><i class="fa fa-weixin"></i></a>
                                    <a class="mail" href="#" data-toggle="tooltip" data-replacement="top" title="Gmail"><i class="fa fa-envelope"></i></a>
                                    <a class="github" href="#" data-toggle="tooltip" data-replacement="top" title="Github"><i class="fa fa-github"></i></a>
                                    </p>
                                </div>
                            </div>
                    </header>
                <div class="sp-entry-content">
                    <p>{{ item.post.abstract }}</p>
                    <p>...</p>
                </div>
                <a class="sp-more button button-default" href="{% url 'blog:single_post' item.category.slug item.post.slug %}">Read More</a>
            </div>
        </div>
    </div>
</article> <!--//End Post-->
{% endfor %}

</div>

<!-- 实现分页显示 -->
<div class="sp-pagination">
    <div class="sp-container">
        <div class="sp-pagination-inner sp-clearfix">

            {% if posts.has_previous %}
                <a class="sp-prev" href="?page={{ posts.previous_page_number }}"><i class="fa fa-caret-square-o-left"></i> 上一页</a>
            {% endif %}

            <div class="sp-category"> <!-- Borrow the css format from the post.html -->
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </div>

            {% if posts.has_next %}
                <a class="sp-next" href="?page={{ posts.next_page_number }}">下一页 <i class="fa fa-caret-square-o-right"></i></a>
            {% endif %}

        </div>
    </div>
</div><!-- End of the pagination -->

