  <!--// Post Widget //-->
  <div class="sp-widget sp-post-widget">
    <h4 class="sp-widget-title">Recent Post</h4>

    <ul>
      <li>
        <a href="#">
          <figure class="sp-thumb-container"><img alt="" src="assets/images/img_sm01.jpg"></figure>
          <div class="sp-desc">
            <h4 class="sp-title">Today's Everyday Fashion Panama Hat</h4>
            <span class="sp-meta">January 25, 2015</span>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <figure class="sp-thumb-container"><img alt="" src="assets/images/img_sm02.jpg"></figure>
          <div class="sp-desc">
            <h4 class="sp-title">Cool-Girl Approved Outfit Ideas</h4>
            <span class="sp-meta">January 25, 2015</span>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <figure class="sp-thumb-container"><img alt="" src="assets/images/img_sm03.jpg"></figure>
          <div class="sp-desc">
            <h4 class="sp-title">How to Do the Jenna Lyons Sleeve Roll</h4>
            <span class="sp-meta">January 25, 2015</span>
          </div>
        </a>
      </li>
    </ul>
  </div> <!-- //Post Widget -->
